

.menu-bar {
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menu-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #fdfdfd;
    font-size: 25px;
    font-weight: 700;
    -webkit-text-stroke: 0.1px black;
    text-shadow: -0.5px -0.5px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
    
}


@media (max-width: 600px) {
    .menu-bar {
        flex-direction: column;
        gap: 20px;
    }
}

