<div class="sensor-container">
  <div *ngIf="loading" class="loading-text">Učitavanje podataka...</div>
</div>

<div *ngIf="errorMessage" class="error-text">
    {{ errorMessage }}
</div>

<div *ngIf="sensorData" class="data-box">
  <div class="temperature-card">
      
    <div class="main-temp">
      <span class="temperature">{{ sensorData.temperature }} °C</span>
      <span class="weather-icon">🌡️</span>
    </div>

    <h2>Trenutna temperatura</h2>

    <div class="weather-details">
      <div class="detail-item">
        <span class="label">Vrijeme</span>
        <span class="value">{{ dhmzData?.weather }}</span>
      </div>
      <div class="detail-item">
        <span class="label">Vlažnost</span>
        <span class="value">{{ sensorData.humidity }} %</span>
      </div>
      <div class="detail-item">
        <span class="label">DHMZ temperatura</span>
        <span class="value">{{ dhmzData?.temperature }} °C</span>
      </div>
      <div class="detail-item">
        <span class="label">DHMZ vlažnost</span>
        <span class="value">{{ dhmzData?.humidity }} %</span>
      </div>
    </div>

    <div class="last-updated">
      Zadnje ažuriranje: {{ sensorData.timestamp | date:'dd.MM.yyyy HH:mm:ss'}}
    </div>

    </div>
  </div>
